{% load static %}
{% load crispy_forms_tags %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet">

    <link rel="stylesheet"  type="text/css" href="{% static 'portfolio/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'portfolio/css/front.css' %}" >
    <title>GidexTech Software Developers</title>
</head>
<body>
    <header class = header-img>
        <nav class="navbar navbar-expand-md navbar-dark bg-dark  fixed-top collapse navbar-collapse">
            <div class="logo-div"> <img class=" ml-4 logo" src="{% static 'portfolio/images/e.png' %}"></div>
            <div class="container">
            <button class="navbar-toggler ml-auto" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarToggle">
                <div class="navbar-nav ml-auto" >
                    <a class="nav-item nav-link nav-anchor text-white m-1 " href="{% url 'home' %}">Home</a>
                    <a class="nav-item nav-link nav-anchor text-white m-1 " href="{% url 'services' %}">Services</a>
                    <a class="nav-item nav-link nav-anchor text-white m-1 " href="{% url 'portfolio' %}">Portfolio</a>
                    <a class="nav-item nav-link nav-anchor text-white m-1 btn btn-md btn-info" href="{% url 'contact' %}">Start a project with Us</a>

              </div>
            </div>
            </div>
        </nav>

        {% block header-content %}

          {% endblock %}

    </header>
    {% block main-content %}

    {% endblock %}

    <footer class="bg-footer bg-dark footer">
        <div class="container footer-container col-12">
            <div class="row m-0">
                <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 mt-2 bg-dark p-2">
                    <p><b>MENU</b></p>
                    <a href="{% url 'home' %}" class="text-capitalize small anchor-block">Home</a>
                    <a href="{% url 'services' %}" class="text-capitalize small anchor-block">Services</a>
                    <a href="{% url 'portfolio' %}" class="text-capitalize small anchor-block">Portfolio</a>
                    <a href="{% url 'contact' %}" class="text-capitalize small anchor-block">Contact Us</a>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 mt-2 bg-dark p-2">
                    <p><b>CONTACT US</b></p>
                    <a href="https://wa.me/2348164036257" target="_blank" class="text-capitalize small anchor-block">Chat on Whatsapp</a>
                    <a href="#" class="text-capitalize small anchor-block">Call: <b>08164036257</b></a>
                    <a href="#" class="small anchor-block"><mark>gidexdev@gmail.com</mark></a>


                </div>
                <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 mt-2 bg-dark p-2">
                    <p><b>ABOUT US</b></p>
                    <p class="text-capitalize small ">Gidexdev is a software development company that is dedicated to building world class software applications for
                        your personal and business needs
                    </p>
                    <p class="text-capitalize small ">We have a team of developers who are skilled and disciplined to move ur ideas to the next phase.</p>
                </div>
            </div>

        </div>

    </footer>



<script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

</body>
</html>