{% extends 'portfolio/base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block header-content %}

<div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 div-bg mb-4 pl-4">
                    <h3 class="text-white text-capitalize ">Our Recent Works </h3>
                    <p class="text-capitalize text-white small">Through our dedication and skill we have satisfied a number of customers and companies</p>

                </div>
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 mb-4 svg-div" >
                    <div class="img mb-4">
                    <img  src="{% static 'portfolio/images/portfolio.svg' %}">
                    </div>
                </div>


            </div>
        </div>

{% endblock header-content %}

{% block main-content %}
    <div class="container jumbo mt-4" id="jumbo">
        <div class="row m-3">

            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 mt-4 " >
                <div class="img mt-4">
                    <img class="mt-4" src="{% static 'portfolio/images/completed.svg' %}">
                </div>

            </div>
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 mt-4" >
                <div class="mt-4">
                    <p class="large"><b>Progression through practical Application<b></p>
                    <p class="text-capitalize small p-2 mt-2">
                        Over time, We have built functional applications for individuals and many small, medium and large scale companies leveraging the best software technologies currently available in the world of software development. This way we have been able to earn our client's trust.


                    </p>

                </div>

            </div>
        </div>
        <div class="row m-3">

            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 mt-4 " >
                <p class="large p-2"><b>Recent Projects<b></p>
                <div class="mt-4">

                    <img class="img_projects mt-4" src="{% static 'portfolio/images/portfolio2.png' %}">
                </div>

            </div>

        </div>







    </div>
{% endblock main-content %}